body{
	background-color: #117F98;
	color: #fff;
}
.imgEar{
	width: 400px;
}
.container p{
	font-size: 23px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
.h1,.h3,p{
    font-family: 'Poppins', sans-serif;
}