body{
	background-color: #117F98 !important;
}
.imgx{
	width: 300px;
/* 	text-align: center; */
}
h2,h1,h3{
    color: #fff;
  text-align: center;
}
.container p{
	font-size: 23px;
  color: #fff;
  text-align: justify !important;
  font-weight: 300;
}