.body{
    background: #117F98;
}
.col-md-4{
    text-align: center;
}
.col-md-6{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.button{
	background-color: #C5E4F1 !important;
	color: black !important;
	border-radius: 10px;
    border: none !important;
}
.button>a{
    color: #0E1237;
}
.button:hover{
	background-color: #0E1237 !important;
    color: #fff !important;
}
.button>a:hover{
    color: #fff !important;
}
.headtext{
	color: #C1E2E7;
    padding-top: 20px;
}
