body{
	background-color: #117F98;
	color: #fff;
}
.button{
	background-color: #C5E4F1;
	border-radius: 25px;
	width: 150px;
	padding: 10px;
}
.button>a{
    color: black;
}
.button:hover{
	background-color: #1d3557;
	color: #fff;
}
.button>a:hover{
    color: #fff;
}
.imgSS1{
    width: 50%;
    max-height: 300px;
}
.col-md-6{
	display: flex;
	flex-direction: column;
	align-items: center;
}