body{
    background-color: #117F98 !important;
}
.title{
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 30px;
}
.box1{
    background-color: white;
    border: 40px solid lightgray;
    padding: 80px;
    text-align: justify;
    width: 900px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
}