<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>About US</title>
    <link rel="icon" href="../static/images/favicon.png">
    <link rel="canonical"     href="https://getbootstrap.com/docs/5.0/examples/navbars/">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    
  	<!-- Google font for Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="../static/css/navbar.css" rel="stylesheet">
     <link rel="stylesheet" href="../static/css/footer.css" />
    <link rel="stylesheet" href="../static/css/about.css" />

    <!-- Global Javascript -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
  {% include 'header.html' %}
    <div class="container-fluid" >
        <div class="row banner">
            <div class="col-3">
                <img src="../static/images/logo.png" class="logoBig">
            </div>
            <div class="col-7 pyinnyar offset-md-1">
                <p>Pyinnyar Subuu Website is for helping visual and hearing impaired children to pursue the decent education as others. This is education website This website can help only visual and hearing impaired . This website can’t help both visual and hearing impaired children. You can learn formal education, STEAM, Essential Knowledge from our website. If you choose Visual impaired child, you should learn hearing learning program. If you choose Hearing impaired child, you should learn visual learning program. </p>
            </div>
        </div>

        <div class="row">
            <h1>Founders</h1>
            <div class="row">
                <div class="col-2 offset-md-2">
                    <img src="../static/images/Ellipse 1.png">
                    <p class="name">Khin Khin Kyaw</p>
                </div>
                <div class="col-2">
                    <img src="../static/images/Ellipse 2.png">
                    <p class="name">Ju Jue Khin</p>
                </div>
                <div class="col-2">
                    <img src="../static/images/Ellipse 3.png">
                    <p class="name">MyaPwint Thettin</p>
                </div>
                <div class="col-2">
                    <img src="../static/images/Ellipse 4.png">
                    <p class="name">Sai Khant Zay Linn Yaung</p>
                </div>
            </div>
        </div>

        <div class="row purpose">
            <h2>Purpose</h2>
            <p>
                To help visual and hearing impaired children to pursue</br></br>To Learn Formal Education</br>
                ( Myanmar, English, Maths, Geography, Science, History )</br></br>STEAM & Essential Knowledge for visual and hearing impaired children</br> 
                ( Music, Art, Language, Computer Science, Sports , Health Knowledge, Myanmar, Mathematics, English, Geography, History, Science )
                
            </p>
        </div>
    </div>
  {% include 'footer.html' %}
</body>
</html>