<nav class="navbar navbar-expand-md">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../static/images/logo.png" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/aboutus">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/FormalEducation">Formal Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/essential">Essential Knowledge</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/steam">Steam</a>
            </li>
          </ul>
          <div class="loginBtn">
                {% if session.authenticated %}
                <button type="button" class="btn In"><a href="/logout" class="signin">Log Out</a></button>
                {% else %}
                <button type="button" class="btn In"><a href="/loginpage" class="signin">Log In</a></button>
                <button type="button" class="btn"><a href="/signuppage" class="signin">Sign Up</a></button>
                {% endif %}
            </div>
        </div>
      </div>
    </nav>
    

<!--     <script src="js/bootstrap.bundle.min.js"></script> -->

      
  </body>
</html>